html, body {
    height: 100%;
}

html {
  background-color: gray;
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

table, th, td {
  border: 1px solid black;
  align-items: center;
}

td{
  font-size: 55px;
}
h1{
  text-align: center;
}

button {
  vertical-align: middle;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
